*{
    margin: 0px;
    padding: 0px;
    scrollbar-width: thin;
}
body{
    /* background-color: #c84cee; */
    position: relative;
    /* color: blueviolet; */
    color: #fff;
    font-family: "微软雅黑";
    background: #1e293b -webkit-linear-gradient(top, #1e293b, #1e293b);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fdf751;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: #31232300;
}
/* 内容 */
.stars{
    position: relative;
    top: 12px;
    bottom: 0;
    right: 0px;
    left: 14px;
}
.box{
    width: 1500px;
    height: 960px;
    margin: 0 auto;
    /*border: 1px solid skyblue;*/
}
.navigation{
    width: 1396px;
    line-height: 80px;
    height: 80px;
    font-size: 36px;
    margin-left: 52px;
    filter: brightness(100%);
}
.option{
    width: 1396px;
    height: 80px;
    float: left;
    position: relative;
}
.option a{
    margin-right: 30px;
}
.option input[type=text]{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 90px;
    margin: auto 0;
    width: 364px;
    height: 34px;
    font-size: 24px;
}
.option input[type=submit]{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    width: 80px;
    height: 38px;
    font-size: 23px;
}
.option input[type=submit]:active{
    background-color: black;
    color: white;
}
.xqy{
    width: 1320px;
    height: 732px;
    margin: 0 auto;
    margin-top: 10px;
    /*border: 1px solid rgb(16, 224, 231);*/
}
.play{
    width: 100%;
    height: 640px;
    background-color: black;
    /*border: 1px solid rgb(231, 16, 227);*/
}
#video{
    width: 100%;
    height: 100%;
    border:none
}
#vanish{
    margin-left: 8px;
}
.intro{
    width: 1320px;
    height: 90px;
    /*border: 1px solid rgb(69, 233, 23);*/
}
.intro h2{
    font-size: 24px;
    line-height: 40px;
    /*color: skyblue;*/
    /*margin: 10px 0px;*/
}
.intro p{
    font-size: 18px;
    margin: 5px 0px;
}
.intro a:hover{
    text-decoration: none;
}
.introduce{
    width: 1320px;
    height: 0px;
    overflow: auto;
}
.introduce p{
    margin: 6px 0px;
}
.switchRoutes{
    font-size: 20px;
    float: right;
    width: 480px;
    height: 50px;
    line-height: 26px;
    margin-top: 14px;
}
.switchRoutes ul{
    float: right;
}
.switchRoutes ul li{
    font-size: 18px;
    width: 48px;
    height: 24px;
    display: block;
    margin-right: 40px;
}
.interval{
    margin-left: 100px;
}
#spacing{
    margin-left: 100px;
}
#spacing{
    cursor: pointer;
}
/* 版权 */
.copyright{
    width: 1396px;
    height: 60px;
    margin: 0 auto;
    margin-top: 40px;
}
.copyright span{
    margin: 0px 5px 0 5px;
}
.copyright a{
    color:#CCC;
}
.copyright a:hover{
    color:#fdf751;
}
.copyright p{
    font-size:18px;
    line-height:30px;
    text-align:center;
    color:#CCC;
}

